$color-primary: #006241;
$card-border-radius: 16px;
$btn-radius: 24px;
$btn-color-plain: rgb(211, 211, 211);
$border-color-plain: rgb(95, 95, 95);
$btn-color-primary: $color-primary;
$border-color-primary: $color-primary;
$text-color-primary: $color-primary;
